body {
    font-family: Roboto;
    background-image: url(./img/estacoes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

#container{
    margin: 0 auto;
    width: auto;
    display: table;
    text-align: center;

}

#convert {
    margin-top:2%;
    background-color: #6959CD;
 }

 #clear {
    margin-top:2%;
     background-color: #6959CD;
 }

 #convert:hover {
    background-color: #bcc768;
 }

 #clear:hover {
    background-color: #bcc768;
 }

 h1 {
    font-family: sans-serif;
    color: #042640;
  }

input {
    display: block;
    padding: 10px;
    margin-top: 10px;
    font-size: 2em;
    color: #f4a55a;
    font-family: cursive, sans-serif;
}

::-webkit-input-placeholder {
    color: #ccc;
}

:-ms-input-placeholder {  
     color: #ccc;  
}

button {
    padding: 10px;
    font-size: 1.2em;
    color: #ffffff;
    margin: 5px;
    height: 50px;
    width: 100px;
}